<div class="row">
    <div class="col-12">
        <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li href="#">Shopping List</li>
                <li href="#">Edit Recipe</li>
                <li href="#">Delete Recipe</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-12">Ingredients</div>
</div>