<label>User Name: </label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" name="" id="" class="form-control" [(ngModel)]="userName">
<p> {{ userName }}</p>
<label>Server Name: </label>
<input type="text" class="form-control" [(ngModel)]="serverName">

<!-- <p>{{ serverName }}</p> -->
<!-- <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button> -->
<button class="btn btn-primary" [disabled]="userName === ''" (click)="onCreateServer()">Add Server</button>
<button class="btn btn-secondary" (click)="toggleDetails()">Display Details</button>
<p *ngIf="showDetails">Displaying details of extra content</p>
<ul>
    <li *ngFor="let randomDetails of detailsClicked; index as index"><span [ngStyle]="{backgroundColor: index >= 5 ? 'blue' : ''}" [ngClass]="{'text-white': index >= 5}">{{ index }}: {{ randomDetails }}</span></li>
</ul>
<!-- <p [innerText]="allowNewServer"></p>
<p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated; else noServer">Server was create, server name is {{ serversList[serversList.length - 1] }}</p>
<ng-template #noServer><p>No server was created</p></ng-template>
<app-server *ngFor="let server of serversList"></app-server>


