<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand">Recipe Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenuItems" aria-controls="navbarMenuItems" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenuItems">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a href="#" (click)="onSelect('recipe')" class="nav-link">Recipes</a></li>
            <li class="nav-item"><a href="#" (click)="onSelect('shopping-list')" class="nav-link">Shopping</a></li>
            <li class="nav-item dropdown">
                <a href="#" id="navbarDropdown" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a href="#" class="dropdown-item">Save Data</a>
                    <a href="#" class="dropdown-item">Fetch Data</a>
                </div>
            </li>
        </ul>
    </div>
</nav>