<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand">Recipe Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenuItems" aria-controls="navbarMenuItems" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenuItems">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" ><a class="nav-link" [routerLink]="['/recipes']">Recipes</a></li>
            <li class="nav-item" routerLinkActive="active" ><a class="nav-link" [routerLink]="['/shopping-list']">Shopping</a></li>
            <li class="nav-item dropdown">
                <a appDropdown id="navbarDropdown" class="nav-link dropdown-toggle" style="cursor: pointer;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" style="cursor: pointer;">Save Data</a>
                    <a class="dropdown-item" style="cursor: pointer;">Fetch Data</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a appDropdown id="navbarObservableDropdown" class="nav-link dropdown-toggle" style="cursor: pointer;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Observable</a>
                <div class="dropdown-menu" aria-labelledby="navbarObservableDropdown">
                    <a class="dropdown-item" style="cursor: pointer;" [routerLink]="['ObservableHome']">Home</a>
                    <a class="dropdown-item" style="cursor: pointer;" [routerLink]="['ObservableHome/ObservableUser', 1]">User 1</a>
                    <a class="dropdown-item" style="cursor: pointer;" [routerLink]="['ObservableHome/ObservableUser', 2]">User 2</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a appDropdown id="navbarFormsDropdown" class="nav-link dropdown-toggle" style="cursor: pointer;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Forms</a>
                <div class="dropdown-menu" aria-labelledby="navbarFormsDropdown">
                    <a class="dropdown-item" style="cursor: pointer;" [routerLink]="['simple-form']">Simple Form</a>
                    <a class="dropdown-item" style="cursor: pointer;" [routerLink]="['reactive-form']">Reactive Form</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a appDropdown id="navbarFormsDropdown" class="nav-link dropdown-toggle" style="cursor: pointer;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pipes</a>
                <div class="dropdown-menu" aria-labelledby="navbarFormsDropdown">
                    <a class="dropdown-item" style="cursor: pointer;" [routerLink]="['server-status']">Server Status</a>
                </div>
            </li>
        </ul>
    </div>
</nav>